@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @apply flex flex-col justify-center items-center w-full;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8),
      rgba(78, 78, 78, 0.72)
    ),
    url("./img/pc-medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
}

@media screen and (max-width: 480px) {
  header {
    height: 75vw;
  }
}

.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-lg;
}
.btn-sky {
  @apply text-white bg-slate-400  hover:bg-slate-500;
}

.heading-secondary {
  @apply text-gray-100 font-medium text-2xl;
}

#projects img {
  @apply max-w-xs sm:w-full;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1340px;
  }
}

h2 {
  @apply underline text-4xl;
}

.card {
  @apply rounded bg-slate-400 w-60 h-52 flex flex-col justify-center items-center shadow-gray-900 shadow-md;
}

.card ul li {
  @apply mt-2 mb-2;
}
