@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @apply flex flex-col justify-center items-center w-full;
  background-image: linear-gradient(
      to top,
      rgba(57, 58, 65, 0.52),
      rgba(78, 78, 78, 0.52)
    ),
    url("./img/pc-medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
}

@media screen and (max-width: 480px) {
  header {
    height: 75vw;
  }
}

.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-lg;
}
.btn-sky {
  @apply text-white bg-slate-400  hover:bg-slate-500;
}

.footer {
  @apply bg-slate-400  place-content-between place-items-center;
}

.heading-secondary {
  @apply text-gray-100 font-medium text-2xl;
}

#projects img {
  @apply max-w-xs sm:w-full;
}

/* @media screen and (max-width: 480px) {
  footer ul {
    flex-direction: column;
  }
} */
